<div class="container">
  <div class="card">
    <div class="card-body">
      <form name="testform">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th id="name" (click)="sort('name')">Name</th>
              <th id="descriptionTitle" scope="col">Description</th>
              <th id="progressPercentage" scope="col">Progress</th>
              <th id="refresh">
                <span data-toggle="tooltip" title="Refresh all">
                  <button class="btn btn-white btn-xs" (click)="refreshAll()"><span id="span" class="glyphicon glyphicon-refresh"></span></button>
                </span>
              </th>
              <th id="currentState" scope="col">Current state</th>
              <th></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let task of tasks | orderBy: key : reverse | paginate: { itemsPerPage: 5, currentPage: p }; let i = index">
              <td id="name">{{task.name}}</td>
              <td id="description">{{task.description}}</td>
              <td id="progressPercentageRows">{{task.progressPercentage}} %</td>
              <td id="refresh"><app-refresh-progress [task]="task"></app-refresh-progress></td>
              <td id="currentState"><div id="border">{{task.currentState}}</div></td>
              <td id="buttons"><app-start-task [task]="task"></app-start-task></td>
              <td id="buttons"><app-cancel-task [task]="task"></app-cancel-task></td>
              <td id="buttons"><app-remove-task [task]="task"></app-remove-task></td>
            </tr>
          </tbody>
        </table>
        <pagination-controls (pageChange)="p = $event"></pagination-controls>
      </form>
      <hr>
    </div>
  </div>
</div>