tr:hover {background-color: #f1f3f3;}

thead>tr>th {
    cursor: pointer;
}

#name {
    width: 25%;
    font-family: "Courier New";
    vertical-align: middle;
}

#descriptionTitle {
    width: 30%;
    font-family: "Courier New";
    vertical-align: middle;
}

#description {
    word-break: break-word;
    width: 30%;
    font-family: "Courier New";
    vertical-align: middle;
}

#currentState {
    width: 17%;
    text-align: center;
    vertical-align: center;
    font-family: "Courier New";
    vertical-align: middle;
}

#progressPercentage {
    width: 12%;
    text-align: center;
    font-family: "Courier New";
    vertical-align: middle;
}

#progressPercentageRows {
    width: 10%;
    text-align: center;
    font-family: "Courier New";
    vertical-align: middle;
   
}

#border {
    outline: 2px dotted rgba(153, 164, 29, 0.48);
    outline-offset: 1px;
}

#buttons {
    vertical-align: middle;
}

#refresh {
    width: 10%;
    vertical-align: middle;
}