#newTask {
    list-style: none;
    width: 100%;
    height: 50px;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

#newTask > li {
    display: inline-block;
    width: 30%;
    height: 100%;
}

thead>tr>th {
    cursor: pointer;
}

#description{
    word-break: break-word;
}
