<div class="container">
  <div class="card">
    <div class="card-body">
      <table class="table table-stripped">
        <td><input id="name" #name (keyup.enter)="update(box.value)" type="text" class="form-control" value="Name"
            width="50"></td>
        <td><input id="descriptionInput" #description (keyup.enter)="update(box.value)" type="text" class="form-control"
            value="Description"></td>
        <td><button id="addNewButton" (click)="addNewTask(name.value, description.value)" class="btn btn-success">Add new task</button></td>
      </table>
      <form name="testform">
        <table class="table table-stripped">
          <thead>
            <tr>
              <th (click)="sort('name')">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Current state</th>
              <th scope="col">Progress percentage</th>
              <th scope="col"></th>
              <th scope="col"></th>
              <th scope="col"></th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let task of tasks | orderBy: key : reverse | paginate: { itemsPerPage: 7, currentPage: p }; let i = index">
              <td>{{task.name}}</td>
              <td id="description">{{task.description}}</td>
              <td>{{task.currentState}}</td>
              <td>{{task.progressPercentage}}</td>
              <td><button (click)="startProcessingTask(task)" class="btn btn-success" [disabled]="task.currentState !== 'NEW'">Start</button></td>
              <td><button (click)="cancelProcessingTask(task)" class="btn btn-warning" [disabled]="task.currentState !== 'RUNNING'">Cancel</button></td>
              <td><button (click)="removeTask(task)" class="btn btn-danger">Delete</button></td>
            </tr>
          </tbody>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </table>
      </form>
      <hr>
    </div>
  </div>
</div>